<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925838180081-4l0uifhl7jch55p7ib6s1fhd6a2ngu8r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925838180081-4l0uifhl7jch55p7ib6s1fhd6a2ngu8r</string>
	<key>API_KEY</key>
	<string>AIzaSyBZIjZ5RiVvnNFcZVJ6TQ5ePf9YL0Lb574</string>
	<key>GCM_SENDER_ID</key>
	<string>925838180081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.educationalKidsGame</string>
	<key>PROJECT_ID</key>
	<string>education-kids-2181c</string>
	<key>STORAGE_BUCKET</key>
	<string>education-kids-2181c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925838180081:ios:fd08c955d7560b2cf6f350</string>
</dict>
</plist>